<div class="calendar-container">
  <div class="calendar">
  <%= month_calendar(events: @all_rents) do |date, all_rents| %>
    <%= date.day %>
    <% all_rents.each do |rent| %>
    <% if @rents.include?(rent) %>
      <% owner = User.find(rent.instrument.user_id) %>
      <div class="calendar-content rented" data-id="<%= rent.id %>" data-instrumentid="<%= rent.instrument.id %>" data-paid="<%= rent.paid %>" data-tomorrow="<%= Date.tomorrow %>" data-rent="rent" data-brand="<%= rent.instrument.brand %>" data-price="<%= rent.total_price %>"
      data-name="<%= rent.instrument.name %>" data-owner="<%= owner.nickname %>" data-startdate="<%= rent.start_time %>" data-enddate="<%= rent.end_time %>">
        <%= owner.nickname %>'s <%= rent.instrument.name %>
      </div>

    <% else %>

      <% user = User.find(rent.user_id) %>
        <div class="calendar-content loaned" data-id="<%= rent.id %>" data-instrumentid="<%= rent.instrument.id %>" data-paid="<%= rent.paid %>"  data-tomorrow="<%= Date.tomorrow %>" data-brand="<%= rent.instrument.brand %>" data-price="<%= rent.total_price %>"
      data-name="<%= rent.instrument.name %>" data-user="<%= user.nickname %>" data-startdate="<%= rent.start_time %>" data-enddate="<%= rent.end_time %>">
        <%= user.nickname %> : <%= rent.instrument.name %>
      </div>
    <% end %>
    <% end %>
  <% end %>

    <div class="calendar-indications-rented">
      <div class="rented-block"></div>
      <div class="rented-text">Instrument you've rented</div>
    </div>
    <div class="calendar-indications-loaned">
      <div class="loaned-block"></div>
      <div class="loaned-text">Instrument that have been rented you</div>
    </div>

  </div>
  <div class="calendar-display">
    <div class="calendar-display-content">
      <h1 id="instrument">Select a rent to see details</h1>
      <h3 id="date"></h3>
      <h2 id="price"></h2>
    </div>
  </div>
</div>
