<div class="sign-in-container">
  <% @rents.each do |rent| %>
    <%= rent.instrument.user.nickname %>'s <%= rent.instrument.brand %> <%= rent.instrument.name %>
    <%= rent.start_time %>
    <% if rent.start_time != rent.end_time %>
    to <%= rent.end_time %>
    <% end %>
    <%= rent.total_price %>€
    <%= link_to 'Cancel', rent_path(rent),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
</div>

<div class="sign-in-container">
<%= month_calendar(events: @rents) do |date, rents| %>
  <%= date %>

  <% rents.each do |rent| %>
    <div class="calendar-rented">
      <%= link_to instrument_path(rent.instrument) do %>
        <%= rent.instrument.brand %> <%= rent.instrument.name %>
      <% end %>
    </div>
  <% end %>
<% end %>
