<%= comment do  %>
<div class="sign-in-container">
  <% @rents.each do |rent| %>
    <%= rent.instrument.user.nickname %>'s <%= rent.instrument.brand %> <%= rent.instrument.name %>
    <%= rent.start_time %>
    <% if rent.start_time != rent.end_time %>
    to <%= rent.end_time %>
    <% end %>
    <%= rent.total_price %>€
    <%= link_to 'Cancel', rent_path(rent),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
</div>
<% end %>

<div class="sign-in-container">
<%= month_calendar(attribute: :start_date, end_attribute: :end_date) do |date| %>
  <%= date.day %>
</div>
<% end %>
