<div class="sign-in-container">
  <% @rents.each do |rent| %>
    <%= rent.instrument.user.nickname %>'s <%= rent.instrument.brand %> <%= rent.instrument.name %>
    <%= rent.start_time %>
    <% if rent.start_time != rent.end_time %>
    to <%= rent.end_time %>
    <% end %>
    <%= rent.instrument.price_per_day %>€ per days
    <%= link_to 'Cancel', rent_path(rent),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
</div>
