<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to :root, class: "navbar-brand" do %>
    <%= image_tag('logo.png', id:"logo") %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<%# UNSEEN_MESSAGES_COUNT %>
<% if user_signed_in? %>
  <% @conversations = Conversation.all %>
  <% unseen_messages = 0 %>
  <% @conversations.each do |conversation| %>
    <% if conversation.sender_id === current_user.id || conversation.recipient_id === current_user.id %>
      <% conversation.messages.each do |message| %>
        <% if message.seen === false && message.user_id != current_user.id %>
          <% unseen_messages += 1 %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li id="nickname">
          <%= current_user.nickname %>
        </li>
        <li class="nav-item dropdown">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", :gravity=>"faces", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
        <% else %>
          <%= image_tag "https://s2.qwant.com/thumbr/0x380/6/3/c8580b7fb17c87e8b9c17ea690f83b5911d042e960b2c4ee0e8372ab760750/img_206976.png?u=https%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_206976.png&q=0&b=1&p=0&a=0", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to instruments_owned_path, class: "dropdown-item item1" do %>
              <i class="fas fa-guitar"></i>
            <% end %>
            <%= link_to conversations_path, class: "dropdown-item item2" do %>
              <% if unseen_messages > 0 %>
              <div class="unseen-notification dropdown-notification">
               <h5><%= unseen_messages %></h5>
              </div>
              <% end %>
              <i class="far fa-envelope"></i>
            <% end %>
            <%= link_to user_rents_path(current_user), class: "dropdown-item item3" do %>
              <i class="far fa-calendar"></i>
            <% end %>
            <%= link_to edit_user_registration_path, class: "dropdown-item item4" do %>
              <i class="fas fa-cog"></i>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item item5" do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
            <%= link_to rents_checkout_path, class: "dropdown-item item6" do %>
              <i class="fas fa-shopping-cart"></i>
            <% end %>
          </div>
        </li>
        <li class="unseen-notification">
        <% if unseen_messages > 0 %>
          <h5><%= unseen_messages %></h5>
        <% end %>
        </li>
      <% else %>
        <li class="nav-item unsigned">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fas fa-sign-in-alt"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
