<div class="instrument-index-card">
  <div class="instrument-index-card-photo">
  <% if instrument.photos.first.key %>
     <div class="lightbox-img"><span><%= cl_image_tag instrument.photos.first.key, crop: :fill, id:"index-picture" %></span></div>
  <% end %>
  </div>

  <div class="preview-box">
    <div class="details">
      <div class="details-title"></div>
      <span class="details-icon fas fa-times"></span>
    </div>
    <div class="image-box">
      <img src="" alt="">
    </div>
  </div>
  <div class="shadow"></div>

  <div class="instrument-index-card-infos">
    <div class="instrument-index-card-infos-content">
    <% if instrument.for_rent %>
      <h4 id="instrument-type"><%= instrument.instrument_type %></h4>
      <%= link_to instrument_path(instrument.id) do %>
      <h1><%= instrument.brand.capitalize %> <%= instrument.name.capitalize %> <%= instrument.year %></h1>
      <% end %>
    <% end %>
      <% link_to instrument.brand.capitalize, instrument_path(instrument.id) %>
      <h2><%= instrument.user.location %></h2>

      <div class="instrument-index-card-infos-description">
        <h3><%= instrument.description %></h3>
      </div>
    </div>
    <div class="instrument-index-card-infos-price">
    <% unless current_user && current_user.instruments.include?(instrument) %>
      <%= link_to "Rent me for #{humanized_money_with_symbol(instrument.price_per_day)} per day", new_instrument_rent_path(instrument) %>
    <% end %>
    </div>
  </div>
</div>
