<div class="new-container">
<h1>Edit the instrument</h1>
<%= simple_form_for [@instrument] do |f| %>
  <%= f.input :instrument_type, collection: ['Electric Guitar', 'Acoustic Guitar', 'Bass', 'Drum'] %>
  <%= f.input :brand %>
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.input :year, collection: 1950..Date.today.year %>
  <%= f.input :price_per_day, hint:"in euros" %>
  <%= f.input :for_rent %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
  <hr>
</div>
