<%= render 'shared/search_bar' %>

<div class="instrument_index_result">
  <% if @instruments.count > 0 %>
    <% @instruments.each do |instrument| %>
      <% if instrument.for_rent %>
        <h4><%= instrument.instrument_type %></h4>
        <%= link_to instrument_path(instrument.id) do %>
        <h1><%= instrument.brand.capitalize %> <%= instrument.name.capitalize %> <%= instrument.year %></h1>
        <% end %>

        <% link_to instrument.brand.capitalize, instrument_path(instrument.id) %>

        <h4><%= instrument.description %></h4>
        <% if current_user.instruments.include?(instrument) %>
          <h2>Rent for me <%= instrument.price_per_day %>€ per day</h2>
        <% else %>
          <%= link_to "Rent for me #{instrument.price_per_day}€ per day", new_instrument_rent_path(instrument) %>
        <% end %>
        <h2><%= instrument.user.nickname %></h2>
        <hr>
      <% end %>
    <% end %>
  <% else %>
    <h1>No instrument found</h1>
  <% end %>
</div>
