<div class="instrument-show-container">
  <div class="instrument-show-left">
    <h1><%= @instrument.brand.upcase %> <%= @instrument.name.upcase %></h1>
    <h2><%= @instrument.year %></h2>
    <h5><%= @instrument.description %></h5>
    <h6 id="google-map-link"><%= link_to "https://www.google.fr/maps/dir//#{@instrument.user.location}", target:"_blanck" do %>
      <i class="fas fa-map-pin"></i> <%= @instrument.user.location %>
    <% end %>
    </h6>
    <div id="map" class="map"
      style="width: 100%; height: 20vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="instrument-show-actions">
      <div class="instrument-show-message">
        <% if !current_user.instruments.include?(@instrument) %>
          <%= link_to "Send a message to #{@instrument.user.nickname}", conversations_path(sender_id: current_user.id, recipient_id: @instrument.user.id), method: "post"%></h3>
        <% end %>
      </div>
      <div class="instrument-show-rent">
      <% unless current_user.instruments.include?(@instrument) %>
        <%= link_to "Rent me for #{humanized_money_with_symbol(@instrument.price_per_day)} per day", new_instrument_rent_path(@instrument), class:"rent-button" %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="instrument-show-right">
    <%= render 'shared/photo_display' %>
  </div>
</div>
