<h1><%= @instrument.brand.capitalize %> <%= @instrument.name.capitalize %> <%= @instrument.year %></h1>
<h4><%= @instrument.instrument_type %></h4>
<h4><%= @instrument.description %></h4>
<h3><%= @instrument.user.email %></h3>
<h2><%= @instrument.price_per_day %>€</h2>
