<div class="instrument-show-container">
  <div class="instrument-show-left">
    <h1><%= @instrument.brand.capitalize %> <%= @instrument.name.capitalize %> <%= @instrument.year %></h1>
    <h4><%= @instrument.instrument_type %></h4>
    <h4><%= @instrument.description %></h4>
    <% if !current_user.instruments.include?(@instrument) %>
      <i class="far fa-envelope"></i> <%= link_to "Send a message to #{@instrument.user.nickname}", conversations_path(sender_id: current_user.id, recipient_id: @instrument.user.id), method: "post"%></h3>
    <% else %>
      <h3><%= @instrument.user.nickname%></h3>
    <% end %>
      <h4><%= @instrument.user.location %></h4>
    <div class="show-map">
      <div id="map"
          style="width: 90%; height: 100%;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <% if !current_user.instruments.include?(@instrument) %>
      <%= link_to "Rent for me #{@instrument.price_per_day}€ per day", new_instrument_rent_path(@instrument) %>
    <% end %>
  </div>
  <div class="instrument-show-right">
    <%= render 'shared/photo_display' %>
  </div>
</div>
