<div class="instrument-show-container">
  <div class="instrument-show-left">
    <h1><%= @instrument.brand.capitalize %> <%= @instrument.name.capitalize %> <%= @instrument.year %></h1>
    <h4><%= @instrument.instrument_type %></h4>
    <h4><%= @instrument.description %></h4>
    <% if !current_user.instruments.include?(@instrument) %>
      <%= link_to @instrument.user.nickname, conversations_path(sender_id: current_user.id, recipient_id: @instrument.user.id), method: "post"%></h3>
    <% else %>
      <h3><%= @instrument.user.nickname%></h3>
    <% end %>
      <h4><%= @instrument.user.location %></h4>
    <% if !current_user.instruments.include?(@instrument) %>
      <%= link_to "Rent for me #{@instrument.price_per_day}€ per day", new_instrument_rent_path(@instrument) %>
    <% end %>
  </div>
  <div class="instrument-show-right">
    <%= render 'shared/photo_display' %>
  </div>
</div>
